<%- include("partials/boilerplate.ejs") %>
<link rel = "stylesheet" href = "/styles/main.css">
<body>
    

    <h1>Ongoing appointments</h1>

    <form method = "GET" class = "btn-container">
        <input type = "submit" class = "btn btn-outline-info" formaction ="/doctor/previous/<%=id%>"  value = "Previous Appointments">
        <input type = "submit" class = "btn btn-outline-light" formaction ="/doctor/upcoming/<%=id%>" value = "Upcoming Appointments" >
        
    </form>
    
    <div class = "card-container">
        <div class="card text-bg-light" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

    </div>

        

    </div>
</body>
