<%- include("partials/boilerplate.ejs") %>
<link rel="stylesheet" href="/styles/homepage.css">
<body>
    

    <h2 class = "heading">
        Welcome! Choose Your Path
    </h2>
    
    <form method = "GET" id="form" action="/doctor">
        <div class="d-grid col-5 mx-auto">
            <button class="btn btn-outline-light btn-lg">I am a Doctor</button>

        </div>
    </form>
    <form method = "GET" id="form1" action="/patient">
        <div class="d-grid col-5 mx-auto">
            <button class="btn btn-outline-light btn-lg">I am a Patient</button>

        </div>
    </form>

    


</body>
